TG_TOKEN=COLLER_LE_TOKEN
TG_CHAT=ID1,ID2
HEALTHCHECK_URL=https://hc-ping.com/IDENTIFIANT
RESTOCK_STATE_FILE=/var/lib/restock-tcg/etat_stock.json
PYTHONUNBUFFERED=1
PYTHONDONTWRITEBYTECODE=1
HEARTBEAT_HOUR=09:00
BOT_TIMEZONE=Europe/Paris
